.DS_Store
Resources
build.log
build
npm-debug.log
tmp
.map
.project
.settings
Thumbs.db
gimp
ti/platform/*
!ti/app/platform/android/AndroidManifest.xml
!ti/app/platform/android/res/values
ti/tiapp*
ti/dist