<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>160449843114-epa5k0kfj7dn28m3tdssichbbshq2egv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.160449843114-epa5k0kfj7dn28m3tdssichbbshq2egv</string>
	<key>API_KEY</key>
	<string>AIzaSyBX8xlBJs-uJOzBLGuaMgZuD9yqj0NhFdk</string>
	<key>GCM_SENDER_ID</key>
	<string>160449843114</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>au.org.steps10000.app</string>
	<key>PROJECT_ID</key>
	<string>steps-mobile-app</string>
	<key>STORAGE_BUCKET</key>
	<string>steps-mobile-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:160449843114:ios:034bc18b461d19bf35a5d3</string>
	<key>DATABASE_URL</key>
	<string>https://steps-mobile-app.firebaseio.com</string>
</dict>
</plist>