<Alloy>
	<!-- iOS -->
	<NavigationWindow id="settings" platform="ios">
		<Window title="Settings" onOpen="window_open">
			<LeftNavButton>
				<Button 
					id="btnBack" 
					image="/common/chevrons/left-16.png"
					onClick="btnBack_click">
				</Button>	
			</LeftNavButton>
			
			<Require id="settingsView" src="settings/settingsView" type="view"/>
		</Window>
	</NavigationWindow>
	
	<!-- Android -->
	<Window id="settings" platform="android" onOpen="window_open">
		<ActionBar 
			title="Settings" 
			displayHomeAsUp="true" 
			homeButtonEnabled="true" 
			onHomeIconItemSelected="btnBack_click"></ActionBar>
			
		<Require id="settingsView" src="settings/settingsView" type="view"/>
	</Window>
</Alloy>